* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
.header {
}

.header .container {
  height: 155px;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  line-height: 0;
}

.logo-header {
  width: 197px;
  height: 24px;
}

.nav {
}

.menu {
  gap: 42px;
}
.menu a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  transition: text-decoration-line 0.5s ease-in-out;
  color: #333136;
}
.menu a:hover {
  text-decoration-line: underline;
}

.header_menu {
}

.main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: url(../assets/imges/Rectangle.png),
    url(../assets/imges/Rectangle-bottom.png);
  background-repeat: no-repeat;
  background-position: left top 320px, right bottom 74px;
}

.container-bg {
}

.hero {
  min-height: 640px;
  border-radius: 15px;
  padding-left: 95px;
  padding-right: 95px;
  background: url(../assets/imges/hero_smart.png), url(../assets/imges/Oval.png),
    #e7816b;
  background-position: right bottom, right center;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 540px;
}

.hero__content h1 {
  font-family: Jost;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
  margin-bottom: 11px;
  min-height: 165px;
}

.hero__content p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 40px;
}

.hero__content a {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  color: #333136;
  background-color: #ffffff;
  width: 152px;
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.hero__content a:hover {
  background-color: #ffad9b;
  color: #ffffff;
}
.products {
  /* padding-top: 160px; */
  min-height: 960px;
}

.products__content {
  width: 100%;
  display: flex;
  gap: 30px;
}

.products__content article div {
  border-radius: inherit;
  width: inherit;
  height: 100%;
  transition: background 0.5s ease-in-out;
}

.products__content article:hover div {
  background: rgba(231, 130, 107, 0.8);
}

.product {
  max-width: 540px;
  height: 308px;
  width: 100%;
  background: #000000;
  border-radius: 15px;
  gap: 24px;
}

.product.product__content-item {
  min-height: 640px;
  background-image: url(../assets/imges/notebook.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

div.product__content-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
div.product__content-item article.product {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

div.product__content-item article.product:nth-child(1) {
  background-image: url(../assets/imges/iphone.png);
}

div.product__content-item article.product:nth-child(2) {
  background-image: url(../assets/imges/abstraction.png);
}

.product div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product a > h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
}

.product a {
  background-image: url(../assets/imges/Path.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 21px;
}

.product__content-item {
  width: 100%;
}

.props {
  column-gap: 30px;
}

.props__item {
  text-align: center;
  width: 350px;
  min-height: 792px;
}
.props__item img {
  margin-bottom: 48px;
}
.props__item h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  color: #333136;
  margin-bottom: 32px;
}
.props__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: #333136;
}
.footer {
  background-color: #1d1c1e;
}
